# Study Review

## Description

In 2021, on the island of Molokai, reserves managed by The Nature Conservancy and the Hawaii Department of Land and Natural Resources; as well as Kalaupapa National Park were surveyed for landbirds and landbird habitat in order to provide information for monitoring long-term trends in forest bird distribution, density, and abundance. Based on the point-transect distance sampling history on Molakai, a 3,527-ha core area was defined to assess long-term population trends since 1979, when the first surveys were conducted. Areas of Kalaupapa National Park were excluded from the core area because of an intermittent survey schedule. However, this dataset provides all of the 2021 survey data including areas inside and outside the core area, which is denoted by “Core_Area”. A summary of the 2021 survey results for the core area and for Kalauapapa National Park will be provided in separate products, such as an NPS National Resource Report and a relevant scientific journal. The 2021 survey effort is expected to be repeated in collaboration with PACN, The Nature Conservancy, the Maui Forest Bird Recovery Project, and the Hawaii Department of Land and Natural Resources every 5-6 years.

## Citation 
Judge S and Kozar K. 2023. Pacific Island Network Molokai Landbird Surveys Dataset 2021. National Park Service. Fort Collins CO https://doi.org/10.57830/2300147

## Website for additional Information
https://irma.nps.gov/DataStore/Reference/Profile/2300147

## Info

This is a public dataset from the National Park Service (NPS) regarding Pacific Island Landbirds. This collection is a combination of 14 different CSVs. There is additional data on https://irma.nps.gov/DataStore/Reference/Profile/2300107 regarding years: 2010, 2015/2016, 2019/2020 and partial data for 2011, 2018, 2012, 2017.

In [4]:
# using pandas for cleaning and manipulation
import pandas as pd

In [6]:
# creating a new species table with combined info from species and alt_species tables
species = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tlu_Species.csv')
alt_species = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tbl_Species_Alternate_Names.csv')
# using merge for the new table
full_species = pd.merge(species, alt_species, how="inner", on="Species_ID")

In [17]:
# creating a new events table with combined info from events and events details tables
events = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tbl_Events.csv')
events_details = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tbl_Event_Details.csv')
full_events = pd.merge(events, events_details, how="inner", on="Event_ID")

## Begin cleaning tables:
    - create new tables with reduced columns as determined by the er diagram ✅
    - remove null records ✅
    - reset indexes ✅

In [31]:
# full_species
    # remove Source, TE_Status, BNA_Account, Updated_Date, Update_By, Update_Notes
    # remove null records when Scientific_Name is blank
clean_species = full_species.drop(columns=['Source', 'TE_Status', 'BNA_Account', 'Updated_Date', 'Update_By', 'Update_Notes'])
clean_species = clean_species.dropna(subset=['Scientific_Name'])
clean_species = clean_species[clean_species['Family']!= 'None']
clean_species.reset_index()

,index,Species_ID,Family,Scientific_Name,Common_Name,Species_Code,Habitat,TSN,Alternate_Name,Alternate_Type
0,0,20200813140240-8572578.43017578,Accipritidae,Accipiter soloensis,Chinese Sparrowhawk,CHIS,Forest Bird,175342.0,GRFH,Species Code
1,1,20200813140240-8572578.43017578,Accipritidae,Accipiter soloensis,Chinese Sparrowhawk,CHIS,Forest Bird,175342.0,Gray Frog-Hawk,Common Name
2,2,20200813140240-253237068.653107,Accipritidae,Buteo lagopus,Rough-legged Buzzard,RLBU,Open Country Bird,175373.0,Rough-legged Hawk,Common Name
3,3,20200813140240-253237068.653107,Accipritidae,Buteo lagopus,Rough-legged Buzzard,RLBU,Open Country Bird,175373.0,RLHA,Species Code
4,4,20200813140240-303595900.535583,Accipritidae,Buteo solitarius,Io,HAWH,Forest Bird,175394.0,Hawaiian Hawk,Common Name
...,...,...,...,...,...,...,...,...,...,...
308,308,20200813140240-66083729.2671204,Tytonidae,Tyto furcata,American Barn Owl,ABOW,Open Country Bird,177851.0,Tyto alba,Scientific Name
309,309,20200813140240-66083729.2671204,Tytonidae,Tyto furcata,American Barn Owl,ABOW,Open Country Bird,177851.0,Western Barn Owl,Common Name
310,310,20200813140240-941978275.775909,Zosteropidae,Zosterops japonicus,Warbling White-eye,WAWE,Widespread/Urban Bird,179912.0,JAWE,Species Code
311,311,20200813140240-941978275.775909,Zosteropidae,Zosterops japonicus,Warbling White-eye,WAWE,Widespread/Urban Bird,179912.0,Mejiro,Common Name
312,312,20200813140240-941978275.775909,Zosteropidae,Zosterops japonicus,Warbling White-eye,WAWE,Widespread/Urban Bird,179912.0,Japanese White-eye,Common Name

In [32]:
# full_events
    # remove P1:P10, Protocol_Name, Repeat_Sample, Habitat_Date, Event_Notes, Entered_By, Updated_By, Updated_Date, 
        # Verified, Verified_By, Verified_Date, Certified, Certified_By, Certified_Date, QA_Notes
    # remove null records when Start_Date is blank
clean_events = full_events.drop(columns=['P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'Protocol_Name', 'Repeat_Sample', 'Habitat_Date', 'Event_Notes', 'Entered_By', 'Updated_By', 'Updated_Date', 'Verified', 'Verified_By', 'Verified_Date', 'Certified', 'Certified_By', 'Certified_Date', 'QA_notes'])
clean_events = clean_events.dropna(subset=['Start_Date'])
clean_events.reset_index()

,index,Event_ID,Station_ID,Start_Date,Start_Time,End_Time,Entered_Date,Event_Details_ID,Cloud,Rain,Wind,Gust
0,0,20210521112329-983533978.462219,20210428171318-277168393.135071,2021-04-13,10:27,10:35,2021-05-21,20210521112347-68091154.0985107,100,1,2,3
1,1,20210521133835-44474422.9316711,20210428171318-803330302.238464,2021-04-13,07:53,08:01,2021-05-21,20210521133859-469948709.011078,100,2,2,3
2,2,20210602151033-589163005.35202,20210428171318-344180822.372437,2021-04-13,07:45,07:53,2021-06-02,20210602151114-910964310.16922,100,1,2,3
3,3,20210521111432-314039289.951324,20210428171318-696100771.427155,2021-04-13,09:37,09:45,2021-05-21,20210521111450-291052043.437958,90,0,2,4
4,4,20210521125624-895535290.241241,20210428171318-332691490.650177,2021-04-13,06:13,06:21,2021-05-21,20210521125646-774027764.797211,100,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
208,208,20210618153043-592458248.138428,20210428171318-757029533.38623,2021-04-16,07:40,07:48,2021-06-18,20210618153108-298165440.559387,0,0,1,3
209,209,20210510085732-517192423.343658,20210428171318-209698975.086212,2021-04-16,10:04,10:12,2021-05-10,20210510085837-259541332.72171,40,0,1,3
210,210,20210514102616-886066198.348999,20210428171318-16297698.0209351,2021-04-16,09:36,09:44,2021-05-14,20210514102635-458703398.704529,90,0,1,2
211,211,20210510093251-841427624.225616,20210428171318-397243559.360504,2021-04-17,07:53,08:01,2021-05-10,20210510093312-724558770.656586,80,0,0,1
212,212,20210510092803-839586138.725281,20210428171318-526573181.152344,2021-04-17,07:38,07:46,2021-05-10,20210510092841-805275440.216064,60,0,0,1

In [33]:
# tbl_Detections
    # remove null records when Detection is blank
tbl_Detections = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tbl_Detections.csv')
clean_detections = tbl_Detections.dropna(subset=['Detection'])
clean_detections.reset_index()

,index,Detection_ID,Observation_ID,Distance,Detection
0,0,20210506133522-647821187.973022,20210506133334-298165440.559387,63.0,1
1,1,20210506133525-263792932.033539,20210506133334-298165440.559387,37.0,1
2,2,20210506133527-279342055.32074,20210506133334-298165440.559387,27.0,4
3,3,20210506133531-829801619.052887,20210506133334-298165440.559387,64.0,1
4,4,20210506133533-824602127.075195,20210506133334-298165440.559387,26.0,1
...,...,...,...,...,...
2544,2544,20210712142725-695115506.649017,20210712142711-910964310.16922,41.0,1
2545,2545,20210712142729-980003237.724304,20210712142711-910964310.16922,42.0,1
2546,2546,20210712172759-81893563.2705688,20210510082653-347726404.666901,25.0,4
2547,2547,20210713090348-760723590.85083,20210713090337-774740099.906921,36.0,1
2548,2548,20210713090352-814490020.275116,20210713090337-774740099.906921,37.0,1

In [34]:
# tbl_Habitat
    # remove Canopy_Cover, Canopy_Height, Canopy_Comp, Understory_Comp, Noted_Canopy_Spp_Common, Noted_Canopy_Spp_Scientific 
    # remove null records when Event_ID is blank
tbl_Habitat = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tbl_Habitat.csv')
clean_habitat = tbl_Habitat.drop(columns=['Canopy_Cover', 'Canopy_Height', 'Canopy_Comp', 'Understory_Comp', 'Noted_Canopy_Spp_Common', 'Noted_Canopy_Spp_Scientific'])
clean_habitat = clean_habitat.dropna(subset=['Event_ID'])
clean_habitat.reset_index()

     index                       Habitat_ID                         Event_ID
0        0  20210506133644-15703916.5496826  20210506132904-814490020.275116
1        1  20210506134306-378902554.512024  20210506133922-948571085.929871
2        2  20210506140759-430261135.101318  20210506140555-97973823.5473633
3        3  20210506141646-783995270.729065  20210506140902-404834151.268005
4        4  20210507083459-401374340.057373  20210506141851-331694424.152374
..     ...                              ...                              ...
207    207  20210618152624-22629201.4122009  20210618152502-712730467.319489
208    208  20210618153002-56236863.1362915  20210618152647-513737499.713898
209    209  20210618153216-284480273.723602  20210618153043-592458248.138428
210    210  20210618153513-543360590.934753  20210618153304-979829370.975494
211    211  20210628110645-622696697.711945  20210628110217-774740099.906921

[212 rows x 3 columns]

In [25]:
# tbl_Locations
clean_locations = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tbl_Locations.csv')

In [35]:
# tbl_Observations
    # remove null records when Species_ID or Event_ID is blank
tbl_Observations = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tbl_Observations.csv')
clean_observations = tbl_Observations.dropna(subset=['Species_ID', 'Event_ID'])
clean_observations.reset_index()

,index,Observation_ID,Event_ID,Species_ID
0,0,20210506133334-298165440.559387,20210506132904-814490020.275116,20200813140240-887522280.216217
1,1,20210506133606-695115506.649017,20210506132904-814490020.275116,20200813140240-941978275.775909
2,2,20210506133922-979829370.975494,20210506133922-948571085.929871,20200813140240-887522280.216217
3,3,20210506134142-207561135.292053,20210506133922-948571085.929871,20200813140240-641774833.202362
4,4,20210506134202-457971453.666687,20210506133922-948571085.929871,20200813140240-34356594.0856934
...,...,...,...,...
850,850,20210707090437-980003237.724304,20210510075031-986093163.490295,20200813140240-941978275.775909
851,851,20210707090930-676175892.353058,20210510075357-948571085.929871,20200813140240-641774833.202362
852,852,20210707091213-103022634.983063,20210510081021-677947700.023651,20200813140240-941978275.775909
853,853,20210712142711-910964310.16922,20210507144810-257267653.942108,20200813140240-871533870.697021
854,854,20210713090337-774740099.906921,20210506133922-948571085.929871,20200813140240-941978275.775909

In [27]:
# tbl_Sites
clean_sites = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tbl_Sites.csv')

In [36]:
# tbl_Stations
    # remove Lat_Dir, Long_Dir, Geo_Datum, Updated_Date, Updated_by, Updated_notes
    # remove null records when Station is blank
tbl_Stations = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tbl_Stations.csv')
clean_stations = tbl_Stations.drop(columns=['Lat_Dir', 'Long_Dir', 'Geo_Datum', 'Updated_Date', 'Updated_by', 'Updated_notes'])
clean_stations = clean_stations.dropna(subset=['Station'])
clean_stations.reset_index()

,index,Station_ID,Transect_ID,Station,Lat_Final,Long_Final
0,0,20210428171318-752542495.727539,20210428161330-115470111.370087,1,21.163737,-156.964410
1,1,20210428171318-377407610.416412,20210428161330-115470111.370087,10,21.173079,-156.964715
2,2,20210428171318-188131809.234619,20210428161330-115470111.370087,11,21.174043,-156.965260
3,3,20210428171318-979530990.123749,20210428161330-115470111.370087,12,21.175308,-156.965291
4,4,20210428171318-891279399.394989,20210428161330-115470111.370087,2,21.164539,-156.965005
...,...,...,...,...,...,...
206,206,20210428171318-694607496.261597,20210428161330-956762433.052063,5,21.102773,-156.874355
207,207,20210428171318-16988694.6678162,20210428161330-956762433.052063,6,21.101504,-156.874738
208,208,20210428171318-339090704.917908,20210428161330-956762433.052063,7,21.100227,-156.875122
209,209,20210428171318-692547857.761383,20210428161330-956762433.052063,8,21.099262,-156.875992
210,210,20210428171318-110386848.449707,20210428161330-956762433.052063,9,21.098279,-156.876786

In [37]:
# tbl_Transects
    # remove Transect_Type, Updated_Date, Updated_By, Updated_Notes
    # remove null records when Location_ID or Transect is blank
tbl_Transects = pd.read_csv('Pacific Island Network Landbird Monitoring Dataset/tbl_Transects.csv')
clean_transects = tbl_Transects.drop(columns=['Transect_Type', 'Updated_Date', 'Updated_By', 'Updated_Notes'])
clean_transects = clean_transects.dropna(subset=['Location_ID', 'Transect'])
clean_transects.reset_index()

,index,Transect_ID,Location_ID,Core_Area,Transect
0,0,20210428161330-747415781.021118,20210427115620-14017641.544342,Within,4
1,1,20210428161330-613934934.139252,20210427115633-814490020.275116,Within,9
2,2,20210428161330-782138705.253601,20210427115652-45352756.9770813,Within,4
3,3,20210428161330-161743700.504303,20210427115652-45352756.9770813,Within,4A
4,4,20210428161330-807779788.970947,20210427115716-790480017.662048,Within,9
5,5,20210428161330-202618300.914764,20210427141933-785212218.761444,Within,8
6,6,20210428161330-956762433.052063,20210427141933-785212218.761444,Within,8A
7,7,20210428161330-65851032.7339172,20210427142142-543360590.934753,Within,110
8,8,20210428161330-61522245.4071045,20210427142258-364995419.979095,Outside,101
9,9,20210428161330-793197572.231293,20210427142258-364995419.979095,Outside,103
10,10,20210428161330-379604697.227478,20210427142258-364995419.979095,Outside,105
11,11,20210428161330-463584005.832672,20210427142258-364995419.979095,Outside,107
12,12,20210428161330-119544029.23584,20210427142258-364995419.979095,Outside,110
13,13,20210428161330-115470111.370087,20210427142258-364995419.979095,Outside,111
14,14,20210428161330-173773407.936096,20210427142621-542070209.980011,Within,11
15,15,20210428161330-48118889.3318176,20210427143500-657054960.727692,Within,3
16,16,20210428161330-714816331.863403,20210427143500-657054960.727692,Within,3A
17,17,20210428161330-533022344.112396,20210427143500-657054960.727692,Within,5
18,18,20210428161330-561009287.834167,20210427143500-657054960.727692,Within,7
19,19,20210428161330-216733515.262604,20210427143510-89641392.2309875,Within,25

## Return out clean CSVs for future use

In [38]:
clean_species.to_csv('clean_species.csv')

In [39]:
clean_events.to_csv('clean_events.csv')

In [40]:
clean_detections.to_csv('clean_detections.csv')

In [41]:
clean_habitat.to_csv('clean_habitat.csv')

In [42]:
clean_locations.to_csv('clean_locations.csv')

In [43]:
clean_observations.to_csv('clean_observations.csv')

In [44]:
clean_sites.to_csv('clean_sites.csv')

In [45]:
clean_stations.to_csv('clean_stations.csv')

In [47]:
clean_transects.to_csv('clean_transects.csv')